data:
  train_data_path: "./data/train.csv"
  test_data_path: "./data/test.csv"

model:
  model_name: "klue/bert-base"
  h_param: 
    max_length: 512
    

train:
  output_dir: "./outputs"
  eval_strategy: "epoch"
  save_strategy: "epoch"
  logging_strategy: "steps"
  logging_steps: 100
  epochs: 3
  per_device_train_batch_size: 16
  per_device_eval_batch_size: 32
  lr: 1e-5
  weight_decay: 0.01
  warmup_ratio: 0.06
  metric_for_best_model: "f1"
